<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Testing with parameters">
        <parameter name="username" value="Bakhodur"></parameter>
        <parameter name="password" value="MyPassword"></parameter>
        <classes>
            <class name="tests.LoginTest"></class>
        </classes>
    </test>
</suite>